apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: s-top-qa
patches:
- path: domain.json
  target:
    kind: Ingress
    name: fe-ingress
images:
- name: scgskku/stop-fe
  newName: scgskku/stop-fe-qa
  newTag: 9567238235f3ddf2bcc2eaa063f6974117318b43
- name: scgskku/stop-fe-qa
  newTag: a6830bc7ecaf7fdef17cd0ee277886f0f2c4c591-47
resources:
- ../../../base/fe
