apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: s-top-qa
resources:
- namespace.yaml
- secret.yaml
- ../../../base/be


patches:
- path: domain.json
  target:
    kind: Ingress
    name: be-ingress
images:
- name: jcy0308/stop-be
  newName: jcy0308/stop-be-qa
  newTag: 7330825db2a67b3f5f8c9067efd9c77c401213d0
- name: jcy0308/stop-be-qa
  newTag: 4b78fac765bb78d52d3202c68e7d7699cc6acc4b
