apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: s-top-prod
resources:
- ../../../base/fe

patches:
- path: domain.json
  target:
    kind: Ingress
    name: fe-ingress
images:
- name: scgskku/stop-fe
  newName: scgskku/stop-fe-prod
  newTag: df69d72b003398a55dbc3817aee1b5e8f5c04d43
- name: scgskku/stop-fe-prod
  newTag: f4168e391772d4fd346656968b74b6d399ce9b42
